<form class="form-horizontal form-label-left adduserForm" data-parsley-validate class="form-horizontal form-label-left" style="width: 50%;margin-left: 20%;margin-top:2%;" method="post">

                                <div class="form-group">
                                  <label class="control-label col-md-3 col-sm-3 col-xs-12">First Name</label>
                                  <div class="col-md-9 col-sm-9 col-xs-12">
                                    <input type="text" class="form-control first_name" name="first_name" id ="first_name" placeholder="First Name" required="required">
                                  </div>
                                </div>
                                <div class="form-group">
                                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Last Name</label>
                                  <div class="col-md-9 col-sm-9 col-xs-12">
                                    <input type="text" class="form-control last_name" name = "last_name" id = "last_name" placeholder="Last Name" required="required">
                                  </div>
                                </div>
                                <div class="form-group">
                                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Email</label>
                                  <div class="col-md-9 col-sm-9 col-xs-12">
                                    <input type="email" class="form-control email" name="email" id="email" placeholder="Email" required>
                                  </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 col-sm-3 col-xs-12 control-label">Gender</label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <div class="radio" style="float: left;">
                                          <label>
                                            <input type="radio" class="flat gender" value ="male" checked name="gender"> Male
                                          </label>
                                        </div>
                                        <div class="radio" style="float: left; padding-left: 15px;">
                                          <label>
                                            <input type="radio" class="flat gender" value ="female" name="gender"> Female
                                          </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Password</label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <input type="password" class="form-control first_name" id="pass1" name="pass1" placeholder="Password" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" style="padding: 0px;">Confirm Password</label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <input type="password" class="form-control last_name" id="pass2" name = "pass2" placeholder="Password" required="required">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                                        <a type="submit" class="btn btn-primary" href="../users">Cancel</a>
                                        <button type="submit" class="btn btn-success addUser" id="addUser" >Submit</button>
                                    </div>
                                </div>

                            </form>

                            1920*1080